<%- include ('views/partials/header') %>
<%- include ('views/partials/navbar') %>

<main>
  <head>
    <meta charset="utf-8">
    <title>Home | CK's Portfolio</title>
    <link href="general.css" rel="stylesheet" type="text/css">
  </head>
  <body>

  </body>
</main>

<%- include ('views/partials/footer') %>